Source: mint-translations
Section: admin
Priority: optional
Maintainer: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mint-translations
Architecture: all
Description: Translation files for Linux Mint
 Translation files for Linux Mint
